[data-theme ="Light"] {
   --bg-color:"#ffffff";
   --text-color:"#333333";
   --heading-color:"#444444"
}

[data-theme ="Dark"] {
  --bg-color:"#333333";
  --text-color:"#ffffff";
  --heading-color:"#dddddd"
}


.navbar div {
   display: flex;
   gap: 20px;
}